<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd"
>

    <!-- bean definitions here -->
    <bean id="stringBean" class="java.lang.String">
        <constructor-arg value="I'm a String Bean"/>
    </bean>

    <bean id="greetingService" class="com.udacity.example.GreetingService">
        <constructor-arg ref="stringBean"/>
    </bean>

</beans>

